.component-events {
  max-width: 832px;
  width: 100%;
  margin: 20px auto 0;
  padding: 0 20px;
  text-align: left;

  &__inner {
    padding: 20px 0 0;
    border-top: 5px solid #f4f4f4;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__item {
    position: relative;
    margin-right: 10px;

    &-image {
      border-radius: 15px;

      @media screen and (min-width: 768px) {
        max-height: 173px;
      }
    }

    &-deal {
      position: absolute;
      top: 0;
      left: 30px;
      font-size: 11px;
      padding: 3px 15px;
      color: #fff;
      background-color: #ff7043;
      border-radius: 0 0 20px 20px;
    }

    &-free {
      position: absolute;
      top: 10px;
      right: 15px;
      padding: 3px 15px;
      color: #fff;
      background-color: #ff7043;
      border-radius: 20px;
    }

    &-title {
      margin-bottom: 5px;
      padding-top: 8px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: #333;

      @media screen and (min-width: 768px) {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
    }

    &-date {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 16px;
      color: #333;
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;

      .component-tag {
        margin-top: 10px;
      }
    }
  }

  .slick-slider {
    .slick-prev,
    .slick-next {
      top: 30%;
    }

    .slick-prev {
      left: -20px;
    }

    .slick-next {
      right: -12px;
    }
  }
}
